backcall==0.1.0
beautifulsoup4==4.6.3
certifi==2018.11.29
cffi==1.11.5
colorama==0.4.1
cycler==0.10.0
decorator==4.3.0
google==2.0.1
grpcio==1.16.1
grpcio-tools==1.16.1
ipykernel==5.1.0
ipython==7.2.0
ipython-genutils==0.2.0
jedi==0.13.2
jupyter-client==5.2.4
jupyter-core==4.4.0
kiwisolver==1.0.1
matplotlib==3.0.2
mkl-fft==1.0.6
mkl-random==1.0.2
numpy==1.15.4
olefile==0.46
parso==0.3.1
pickleshare==0.7.5
Pillow==5.3.0
prompt-toolkit==2.0.7
protobuf==3.6.1
pycparser==2.19
Pygments==2.3.1
pyparsing==2.3.0
python-dateutil==2.7.5
pyzmq==17.1.2
six==1.12.0
torch==0.4.0
tornado==5.1.1
traitlets==4.3.2
virtualenv==15.2.0
wcwidth==0.1.7
wincertstore==0.2
